.wrapper {
    background: rgb(175, 175, 175);
    background-image: url('https://wallpapercave.com/wp/wp1822731.jpg');
    height: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 50px;
  }